body{
    background-color: #48A7BB;
    height: 100vh;
    }
    
    .PrimeiraPagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10em;
    }
    
    .conteiner-titulo{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    
    .conteiner-titulo h1{
    font-size: 70px;
    }
    
    .conteiner-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:11em;
    }
    
    .conteiner-principal input {
    width: 300px;
    height: 25px;
    padding: 5px 10px;
    border: 1px solid #666; 
    border-radius: 2px;
    font-size: 16px;
    color: #666;
    background-color: #eee; 
    outline: none;
    }
    
    .conteiner-rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:8em;
    }
    
    .conteiner-rodape button{
    width: 10em;
    padding: 0.7em;
    font-size: 1.3rem;
    color:white;
    background-color: #3394A8;
    border: none;
    text-align: center;
    cursor: pointer;
    }
    
    .botaoPG:hover{
    background-color: #17444d;
    }
    
    
    
    